# Testing Privacy Preserving Record Linkage using Anonlink

Note: none of the examples here contain real PII. Where names and addresses below aren't obviously fake, they were crafted to create realistic scenarios or picked from the most common names in the US.

In [1]:
import io
import glob
from pathlib import Path

import pandas as pd

import anonlink
from clkhash.clk import generate_clk_from_csv
from clkhash import schema

In [2]:
# don't display more than 4 decimal places on scores
pd.options.display.float_format = "{:,.4f}".format
pd.set_option('precision', 4)

# define function to render the results in a nice way

def render(a, b, scores, highlight_delta=False, threshold=None):
    # delta_cols = [col for col in dfa.columns if dfa.iloc[0][col] != dfb.iloc[0][col]]

    summary_df = pd.DataFrame()

    # columns that are ignored in the schema but required,
    # so we should ignore them in the results as well
    ignore_cols = ['record_id', 'parent_given_name', 'parent_family_name']

    # shorten the column names for space reasons
    col_name_map = { 
        'phone_number': 'phone', 
        'household_street_address': 'address',
        'household_zip': 'zip'
    }

    delta_cols = []
    for col in a.columns:
        if col in ignore_cols:
            continue

        new_col_name = col_name_map[col] if col in col_name_map else col

        if a.iloc[0][col] == b.iloc[0][col]:
            # the two values are identical, so only add it once
            summary_df[new_col_name] = a[col]
        else:
            # add a column for each side
            summary_df[f"{new_col_name}_L"] = a[col]
            summary_df[f"{new_col_name}_R"] = b[col]
            delta_cols.extend([f"{new_col_name}_L", f"{new_col_name}_R"])

    # then add the schema results
    for schema_name, score in scores.items():
        summary_df[schema_name] = [score]
        
    style = summary_df.style
    
    # add a border between the data values and the scores
    # (ie, to the left of the first score)
    style = style.applymap(lambda x: 'border-left: 2px solid black;', subset=[next(iter(scores))])
    
    # add a yellow highlight on delta columns
    if highlight_delta:
        style = style.applymap(lambda x: 'background-color: yellow;', subset=delta_cols)

    # add a green highlight on scores > threshold
    if threshold:
        style = style.applymap(lambda x: 'background-color: #77FF99;' if x > threshold else '', subset=list(results.keys()))

    return style

In [3]:
linkage_schemas = {}
for schema_file in glob.glob('schemas/*.json'):
    schema_name = Path(schema_file).stem
    with open(schema_file, 'r') as f:
        linkage_schemas[schema_name] = schema.from_json_file(f)
        
linkage_schemas

{'name-sex-dob-phone': <Schema (v3): 11 fields>,
 'name-sex-dob-zip': <Schema (v3): 11 fields>,
 'name-sex-dob-phone-zip': <Schema (v3): 11 fields>,
 'name-sex-dob-parents': <Schema (v3): 11 fields>,
 'name-sex-dob-addr': <Schema (v3): 11 fields>,
 'name-sex-dob-addr-zip': <Schema (v3): 11 fields>}

In [4]:
required_fields = {
    'record_id': '',
    'given_name': '',
    'family_name': '',
    'DOB': '',
    'sex': '',
    'phone_number': '',
    'household_street_address': '',
    'household_zip': ''
}

def compare(a, b):
    dict_a = {**required_fields, **a}
    dict_b = {**required_fields, **b}
    
    dfa = pd.DataFrame([dict_a])
    dfb = pd.DataFrame([dict_b])

    a_csv = io.StringIO()
    dfa.to_csv(a_csv, index=False)
    b_csv = io.StringIO()
    dfb.to_csv(b_csv, index=False)

    secret = "password1234"

    results = {}
    for schema_name, linkage_schema in linkage_schemas.items():
        # reset the pointer on the 2 CSVs to "beginning of the file"
        a_csv.seek(0)
        b_csv.seek(0)
        clks_a = generate_clk_from_csv(a_csv, secret, linkage_schema, progress_bar=False)
        clks_b = generate_clk_from_csv(b_csv, secret, linkage_schema, progress_bar=False)

        results_candidate_pairs = anonlink.candidate_generation.find_candidate_pairs(
                [clks_a, clks_b],
                anonlink.similarities.dice_coefficient,
                0  # threshold is 0 so that a candidate pair is always returned
        )

        results[schema_name] = results_candidate_pairs[0][0]

    return render(dfa, dfb, results, highlight_delta=True, threshold=None)

# Examples

In [5]:
# define a couple samples
JOHN_DOE = {
    'given_name': 'John',
    'family_name': 'Doe',
    'DOB': '2021-01-24',
    'sex': 'M',
    'phone_number': '1234567890',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
    'parent_email': 'mom@example.com'
}

MIN_RECORD = {
    'given_name': 'Minuet',
    'family_name': 'Riker',
    'DOB': '2006-06-06',
    'sex': 'F',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

In [6]:
# Everything is exactly the same - hopefully the scores come back 1.0

a = JOHN_DOE.copy()
b = JOHN_DOE.copy()

compare(a, b)

In [7]:
# Now let's see what happens when we change one thing, ie, John vs Jon

a = JOHN_DOE.copy()
a['given_name'] = 'Jon'
b = JOHN_DOE.copy()
b['given_name'] = 'John'

compare(a, b)

In [8]:
# Let's try the same thing with a longer name, Johnathan vs Jonathan
a = JOHN_DOE.copy()
a['given_name'] = 'Jonathan'
b = JOHN_DOE.copy()
b['given_name'] = 'Johnathan'

compare(a, b)

In [9]:
# Let's try a 1-char difference only at the end
a = JOHN_DOE.copy()
a['given_name'] = 'Jonathan'
b = JOHN_DOE.copy()
b['given_name'] = 'Jonathann'

compare(a, b)

In [10]:
# Does adding more characters to a match affect the score?

# Let's try a 1-char difference only at the end
a = JOHN_DOE.copy()
a['given_name'] = 'Jonathan'
a['family_name'] = 'Richardson-Hernandez'
b = JOHN_DOE.copy()
b['given_name'] = 'Jonathann'
b['family_name'] = 'Richardson-Hernandez'

compare(a, b)

In [11]:
# Let's look at some of the same things with a record with some blanks

a = MIN_RECORD.copy()
b = MIN_RECORD.copy()
compare(a,b)

In [12]:
a = MIN_RECORD.copy()
a['given_name'] = 'Minette'
b = MIN_RECORD.copy()
b['given_name'] = 'Minuet'

compare(a,b)

In [13]:
# quick test to look at siblings
a = {
    'given_name': 'Michael',
    'family_name': 'Smith',
    'DOB': '2003-05-28',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

b = {
    'given_name': 'Daniel',
    'family_name': 'Smith',
    'DOB': '2001-02-06',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

compare(a, b)

In [14]:
# twins? v1
a = {
    'given_name': 'Tyler',
    'family_name': 'Smith',
    'DOB': '2008-05-28',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

b = {
    'given_name': 'Mitchell',
    'family_name': 'Smith',
    'DOB': '2008-05-28',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

compare(a, b)

In [15]:
# twins? v2

a = {
    'given_name': 'Thomas',
    'family_name': 'Smith',
    'DOB': '2008-05-28',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

b = {
    'given_name': 'Elizabeth',
    'family_name': 'Smith',
    'DOB': '2008-05-28',
    'sex': 'F',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

compare(a, b)

In [16]:
# Quick tests to see the impact of the sex field
# 1 - everything is the same except sex
quick_base = {
    'given_name': 'Cameron',
    'family_name': 'Smith',
    'DOB': '2006-06-06',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

a = quick_base.copy()
a['sex'] = 'M'
b = quick_base.copy()
b['sex'] = 'F'

compare(a, b)

In [17]:
# 2 - everything is different except sex
a = {
    'given_name': 'Alexander',
    'family_name': 'Allen',
    'DOB': '1999-12-12',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}
b = {
    'given_name': 'Zach',
    'family_name': 'Young',
    'DOB': '2006-06-06',
    'sex': 'M',
    'household_street_address': '6 Jones way',
    'household_zip': '98879',
}

compare(a, b)

# Zip Code Investigation

In [18]:
# Let's look at the impact of zip code. 
# Step 1, how much does a different zip code affect the score when everything else is the same?

# note the field name has to be "household_zip"
a = MIN_RECORD.copy()
a['household_zip'] = '01234'
b = MIN_RECORD.copy()
b['household_zip'] = '01235'

compare(a,b)

In [19]:
a = MIN_RECORD.copy()
a['household_zip'] = '01234'
b = MIN_RECORD.copy()
b['household_zip'] = '98765'

compare(a,b)

In [20]:
# Step 2, how much does a zipcode match add when other things are not the same?

a = {
    'given_name': 'John',
    'family_name': 'Smith',
    'DOB': '2006-06-06',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

b = {
    'given_name': 'Lisa',
    'family_name': 'Jones',
    'DOB': '2007-07-07',
    'sex': 'F',
    'household_street_address': '987 Long Rd',
    'household_zip': '01234',
}

compare(a,b)

In [21]:
# Same as above but with zips close 
a = {
    'given_name': 'John',
    'family_name': 'Smith',
    'DOB': '2006-06-06',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

b = {
    'given_name': 'Lisa',
    'family_name': 'Jones',
    'DOB': '2007-07-07',
    'sex': 'F',
    'household_street_address': '987 Long Rd',
    'household_zip': '01256',
}

compare(a,b)

In [22]:
# Then one more with zips completely different
a = {
    'given_name': 'John',
    'family_name': 'Smith',
    'DOB': '2006-06-06',
    'sex': 'M',
    'household_street_address': '123 Fake St',
    'household_zip': '01234',
}

b = {
    'given_name': 'Lisa',
    'family_name': 'Jones',
    'DOB': '2007-07-07',
    'sex': 'F',
    'household_street_address': '987 Long Rd',
    'household_zip': '98765',
}

compare(a,b)

In [23]:
# The scores are higher than I expected given how different the content of the 2 records appears to be
# Let's see how far they can be and still produce a score > 0.8

a = {
    'given_name': 'Alice',
    'family_name': 'Smith',
    'DOB': '2006-06-06',
    'sex': 'F',
    'household_street_address': '123 Fair St',
    'household_zip': '01234',
}

b = {
    'given_name': 'Alison',
    'family_name': 'Stinson',
    'DOB': '2009-06-01',
    'sex': 'F',
    'household_street_address': '199 Main St',
    'household_zip': '01234',
}

compare(a,b)

In [24]:
# We finally get there if we match the last name. 
# This does feel a little contrived but I think it's overall a realistic example
a = {
    'given_name': 'Alice',
    'family_name': 'Smith',
    'DOB': '2006-06-06',
    'sex': 'F',
    'household_street_address': '123 Fair St',
    'household_zip': '01234',
}

b = {
    'given_name': 'Alison',
    'family_name': 'Smith',
    'DOB': '2009-06-01',
    'sex': 'F',
    'household_street_address': '199 Main St',
    'household_zip': '01234',
}

compare(a,b)